body {
color: white;
background-color: #123456;
font-family: Times New Roman;
border: 5px solid Gray;
border-radius: 16px;
margin-left: auto;
margin-right: auto;
max-width: 1024px;
min-width: 256px;
padding-top: 8px;
padding-bottom: 24px;
padding-left: 24px;
padding-right: 24px;
}
a {
color: cyan;
}
html {
background: radial-gradient(circle, blue, blue 50%, navy 50%, blue);
background-size: 8px 8px;

}
